 /* General body styling */
 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a7bfc7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    background-color: #c8dfe2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #333; /* Dark gray title */
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #87a1ab; /* Underline effect */
    display: inline-block;
    margin-top:150px;

}

p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
}

input, textarea {
    padding: 10px;
    border: 2px solid #a7bfc7;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #87a1ab;
    outline: none;
}

textarea {
    resize: vertical;
}

.submit-btn {
    background-color: #87a1ab;
    color:#c8dfe2;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color:#a7bfc7 ;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-container {
        padding: 20px;
        max-width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .submit-btn {
        padding: 10px 20px;
    }
}